<!doctype html>
<html lang="en" ng-app="EuroHub">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EuroHub</title>
  <link rel="stylesheet" type="text/css" href="assets/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="assets/semantic.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/euroHubController.js"></script>
  <script src="js/hubSearchFactory.js"></script>
</head>

<body ng-controller="EuroHubController as ctrl">
  <div class="ui stackable two column grid">
    <div class="six wide column">
      <div class="ui menu">
        <select ng-model='dropdown.value' class="ui inline dropdown">
          <option value="all">All</option>
          <option value="people">People</option>
          <option value="documents">Documents</option>
          <option value="businesses">Businesses</option>
        </select>
        <div class="ui category search item">
          <div class="ui transparent icon input">
            <input class="prompt" type="text" ng-model="searchTerm" placeholder="Query the hub...">
            <i class="fa fa-search" ng-click="search()"></i>
          </div>
        </div>
      </div>

      <div class="ui stackable cards" ng-repeat="result in searchResults">
        <div class="ui link green fluid card people" ng-click="openImage(result.floorplan)" ng-if="result.type === 'person'">
          <div class="content">
            <img class="right floated tiny ui image" src="{{ result.image }}">
            <div class="header">{{ result.first_name }} {{ result.last_name }}</div>
            <div class="meta">
              <p class="department">{{ result.department }}</p>
              <p class="business">{{ result.business }}</p>
              <p class="phone">{{ result.phone_number }}</p>
            </div>
            <div class="skills">
              <i class="badge fa fa-html5"></i>
              <i class="badge fa fa-android"></i>
              <i class="badge fa fa-fire-extinguisher"></i>
            </div>
          </div>
        </div>

        <div class="ui link blue fluid card business" ng-if="result.type === 'business'">
          <div class="content">
            <img class="right floated tiny ui image" src="{{ result.logo }}">
            <div class="header">{{ result.name }}</div>
            <div class="meta">
              <p class="sector">{{ result.sector }}</p>
            </div>
          </div>
        </div>

        <div class="ui link green fluid card document" ng-if="result.type === 'document'">
          <div class="content">
            <div class="header">{{ result.title }}</div>
            <div class="meta">
              <p class="department">{{ result.department }}</p>
              <p class="pubdate">{{ result.published_date }}</p>
              <p class="author">{{ result.author }}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="ui stackable cards">
        <div class="ui green fluid card people">
          <div class="image">
            <img class="big profile" src="assets/images/people/4.jpg">
          </div>
          <div class="content">
            <div class="header">Kirsty Hacky</div>
            <div class="meta">
              <span class="department">Marketing Dept.</span>
              <span class="business right floated">Metal Bulletin</span>
              <p class="phone">020 8123 4567</p>
            </div>
            <div class="skills">
              <i class="badge fa fa-html5"></i>
              <i class="badge fa fa-android"></i>
              <i class="badge fa fa-fire-extinguisher"></i>
            </div>
          </div>
          <div class="extra content">
            <div class="ui three buttons">
              <div class="ui basic red button">Email</div>
              <div class="ui basic green button">Hipchat</div>
              <div class="ui basic blue button">Skype</div>
            </div>
          </div>
        </div>

        <div class="ui blue fluid card business">
          <div class="content">
            <img class="right floated tiny ui image" src="assets/images/business/mb.png">
            <div class="header">Metal Bulletin</div>
            <div class="meta">
              <p class="sector">Metal commodities</p>
              <a class="location">29 Ludgate Hill, London, EC4M</a>
              <p class="director">Director - Raju Daswani</p>
              <p class="phone">020 8123 4567</p>
            </div>
            <p class="description">
              Lorem ipsum dolor sit amet, duo ridens euripidis conclusionemque in, eu ius tincidunt necessitatibus, facete interesset sea at.
            </p>
          </div>
          <div class="extra content">
            <div class="ui two buttons">
              <div class="ui basic green button">Website</div>
              <div class="ui basic blue button">Twitter</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ten wide column documentview">
      <div class="ui fluid card">
        <div class="content">
          <h2 class="ui header">Test Document</h2>
          <img src="{{ floorplanImage }}" alt="euro hub logo" style="width:100%;height:100%">
        </div>
      </div>
    </div>
  </div>

  <div class="ui inverted vertical footer segment form-page">
    <div class="ui menu footer">
      <div class="header item">
        <img src="assets/images/euro-money.png" alt="euro hub logo" style="width:140px;height:60px;">
      </div>
      <a class="item">Email</a>
      <a class="item">Chat</a>
      <a class="item">Skype</a>
    </div>
  </div>
</body>

</html>
