<!doctype html>
<html lang="en" ng-app="EuroHub">
  <head>
    <meta charset="utf-8">
    <title>EuroHub</title>
    <link rel="stylesheet" type="text/css" href="assets/semantic.min.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="assets/semantic.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/euroHubController.js"></script>
  </head>

  <body ng-controller="EuroHubController as ctrl">
    <button class="ui button">Testing!</button>
    <p>{{ test }}</p>
  </body>
</html>