<!doctype html>
<html lang="en" ng-app="EuroHub">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>EuroHub</title>
  <link rel="stylesheet" type="text/css" href="assets/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="assets/semantic.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/euroHubController.js"></script>
  <script src="js/hubSearchFactory.js"></script>
</head>

<body ng-controller="EuroHubController as ctrl">
  <div class="ui menu">
      <div class="item">
        <img src="assets/images/euro-money-white.png" alt="euro hub logo" style="width:115px;height:50px;">
      </div>
      <div class="item">
        <select ng-model='dropdown.value' class="ui dropdown" ng-init="dropdown.value = 'all'">
          <option value="all" selected="selected">All</option>
          <option value="people">People</option>
          <option value="documents">Documents</option>
          <option value="businesses">Businesses</option>
        </select>
      </div>
      <div class="item">
      <div class="ui category search item">
        <div class="ui transparent icon input">
          <input class="prompt" type="text" ng-model="searchTerm"
          placeholder="Query the hub..." ng-model-options="{ updateOn:'default
          blur', debounce: {'default': 500, 'blur': 0} }" ng-change="search()">
          <i class="fa fa-search" ng-click="search()"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="ui stackable two column grid">
    <div class="six wide column">
      <div class="ui stackable cards" ng-repeat="result in searchResults">
        <div class="ui link green fluid card people" ng-click="openImage(result.floorplan)" ng-if="result.type === 'person'">
          <div class="content">
            <img class="right floated tiny ui image" src="{{ result.image }}">
            <div class="header">{{ result.first_name }} {{ result.last_name }}</div>
            <div class="meta">
              <p class="department">{{ result.department }}</p>
              <p class="business">{{ result.business }}</p>
              <p class="phone">{{ result.phone_number }}</p>
            </div>
            <div class="skills" ng-repeat="skill in result.skills">
              <i class="badge fa {{ badges[skill] }}" title="{{skill}}"></i>
            </div>
          </div>
        </div>

        <div ng-click="businessClick(result.file_path)" class="ui link blue fluid card business" ng-if="result.type === 'business'">
          <div class="content">
            <img class="right floated tiny ui image" src="{{ result.logo }}">
            <div class="header">{{ result.name }}</div>
            <div class="meta">
              <p class="sector">{{ result.sector }}</p>
            </div>
          </div>
        </div>

        <div ng-click="documentClick(result.file_path, result.download)" class="ui link green fluid card document" ng-if="result.type === 'document'" >
          <div class="content" >
            <div class="header">{{ result.title }}</div>
            <div class="meta">
              <p class="department">{{ result.department }}</p>
              <p class="pubdate">{{ result.published_date }}</p>
              <p class="author">{{ result.author }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="ten wide column documentview">
      <div class="ui fluid card">
        <div class="content">
          <h2 class="ui header"></h2>
          <div ng-if="rightPane.indexOf('images') !== -1">
            <img src="{{ rightPane }}" alt="euro hub logo" style="width:100%;height:100%">
          </div>
          <div ng-if="rightPane.indexOf('html') !== -1">
            <div ng-include="rightPane"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
