* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5 {
  font-family: oswald !important;
  font-weight: 100 !important;
 }


input, a, p, li {
  font-size: 16px !important;
}

.ui.menu {
  padding: 10px;
  background: #2475AA;
}

.largest {
  height: 100%;
   }

.default-search-view {
  background:url(../assets/images/search_bg.png) top right no-repeat;
}

.default-content {
  padding-top: 50px;
  text-align: center;
  height: 200px;
  width: 80%;
  margin: 0 auto;
   }


.ui.menu .item:before {

  display: none }

.search-wrap {
  text-align: center;
  width: 100%;
}

.extra-links {
  width: 385px;
  text-align: right;
  float: right; }

.extra-links ul {
  padding: 0;
  margin: 0; }

.extra-links li:last-child {
  margin-right: 0px; }

.extra-links li {
  list-style: none;
  margin-right: 10px;
  display: inline; }

.extra-links li img {
  width: 50px;
  height: 50px; }

.search-bar {
  display: inline-block;
}

.search-bar .item {
  padding: 0 !important;
  float: left;
  height: 50px;
  margin: 0 !important;
   }

.search-bar select {
  float: left;
  height: 50px;
   }



.ui.transparent.input input, .ui.transparent.icon.input>input {
  width: 500px;
  padding: 14px !important;
  border-radius: 5px !important;
  background: #fff !important; }


.darker {
  background: #ddd;
}


.column {

  max-height: 90vh;
  overflow-y: scroll;
}

.ui .menu.footer{
  background-color: #2C3E50;
}
.ui.inverted.segment{
    background-color: #2C3E50;
    padding: 0px;
}

.documentview {
  padding: 50px !important;
  padding-bottom: 20px !important;
}

.documentview_persist {
  padding: 50px !important;
  padding-top: 0px !important;
}



.footer.form-page {
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  background-color: #2C3E50;
  padding: none;
  height: 10vh;
}

a .footer.form-page{
  padding: 10px;
  color: #FF530F;
}

.badge:before {
	color: #fff;
	font-size: 20px;
	border: 4px solid #0E72BA;
	border-radius: 50%;
	display: inline-block;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 33px;
	box-shadow: 0 1px 4px 0 rgba(11,64,103,0.6);
}

.badge:before {
	background: rgba(42,166,223,1);
	background: -moz-linear-gradient(left, rgba(42,166,223,1) 0%, rgba(42,166,223,1) 51%, rgba(14,114,186,1) 51%, rgba(14,114,186,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(42,166,223,1)), color-stop(51%, rgba(42,166,223,1)), color-stop(51%, rgba(14,114,186,1)), color-stop(100%, rgba(14,114,186,1)));
	background: -webkit-linear-gradient(left, rgba(42,166,223,1) 0%, rgba(42,166,223,1) 51%, rgba(14,114,186,1) 51%, rgba(14,114,186,1) 100%);
	background: -o-linear-gradient(left, rgba(42,166,223,1) 0%, rgba(42,166,223,1) 51%, rgba(14,114,186,1) 51%, rgba(14,114,186,1) 100%);
	background: -ms-linear-gradient(left, rgba(42,166,223,1) 0%, rgba(42,166,223,1) 51%, rgba(14,114,186,1) 51%, rgba(14,114,186,1) 100%);
	background: linear-gradient(to right, rgba(42,166,223,1) 0%, rgba(42,166,223,1) 51%, rgba(14,114,186,1) 51%, rgba(14,114,186,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2aa6df', endColorstr='#0e72ba', GradientType=1 );
}

.search.item {
  width: 100%;
}

.inline.dropdown {
  float: left;
}

.big.profile {
  max-width: 200px;
}

.image {
  text-align: center;
}

.image img {
  display:inline !important;
}

select.ui.dropdown {
  height: 50px;
  margin-right: 10px;
  border-radius: 6px;
}

.logo {
  padding: 0 10px 10px 10px !important;
  width: 150px !important;
}

.fa.fa-search {
  position: relative;
  left: -30px;
  font-size: 20px;
  top: 15px; }


.fa-cog {
  position: absolute;
  top: 25px;
  left: 25px;
  z-index: 100;
  display: none !important;
}

.fa-cog:before {
  font-size: 30px;
  pointer-events: none;
}


.small-close {
  cursor: pointer; }

@media (min-width: 768px) {

.small-close {
  display: none }


 }

 .card .header, .skills {
   margin: 10px 0;
    }


.fire {
  display: none;
  text-align: center;
  padding-top: 100px;
  width: 100%;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #FF3322;
  color: #fff;
   }

.fire .fa-fire, .fire h1 {
  animation: blinker 1s linear infinite;
   }


.fire .fa {
  font-size: 80px;
}



@keyframes blinker {
  50% { opacity: 0.0; }
}

@media (max-width: 767px) {
  .ui.grid>.documentview.column:not(.row) {
    position: fixed !important;
    bottom: 0;
    left: 0;
    z-index: 100;
     height: 100%;
    overflow: scroll;
    display: none;
  }
  .ui.grid>.documentview.slideUp.column:not(.row) {

    display: block;
  }
}

@media (max-width: 1150px) {

  .extra-links {
    display: none;
  }
}

@media (max-width: 830px) {

  .logo {
    display: none !important;
  }
}

@media (max-width: 680px) {

  .search-bar select {
    display: none !important;
  }

  .search-bar, .search-w, .search.item, .search-bar input[type="text"] {
    max-width: 100% !important;
   width: 100% !important;
  }
}
