.column {
  border-style: solid;
  border-color: black;
}

.ui .menu.footer{
  background-color: #2C3E50;
}
.ui.inverted.segment{
    background-color: #2C3E50;
    padding: 0px;
}

.footer.form-page {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  background-color: #2C3E50;
  padding: none;
  z-index: 1;
}

a .footer.form-page{
  padding: 10px;
  color: #FF530F;
}
